<%= form_with url: '/update', method: :patch, local: true do |f| %>
  <br/>
  <div class="row mb-3">
    <%= f.label :address_line1, "Address Line 1", class: "col-sm-2 col-form-label text-center" %>
    <%= f.text_field :address_line1, class: "col-sm-3" %><br>
  </div>
  <div class="row mb-3">
    <%= f.label :address_line2, "Address Line 2", class: "col-sm-2 col-form-label text-center" %>
    <%= f.text_field :address_line2, class: "col-sm-3" %><br>
  </div>
  <div class="row mb-3">
    <%= f.label :address_city, "City", class: "col-sm-2 col-form-label text-center" %>
    <%= f.text_field :address_city, class: "col-sm-3" %><br>
  </div>
  <div class="row mb-3">
    <%= f.label :address_state, "State", class: "col-sm-2 col-form-label text-center" %>
    <%= f.text_field :address_state, class: "col-sm-3" %><br>
  </div>
  <div class="row mb-3">
    <%= f.label :address_zip, "Zip Code", class: "col-sm-2 col-form-label text-center" %>
    <%= f.text_field :address_zip, class: "col-sm-3" %><br>
  </div>
  <div class="row mb-3">
    <div class="col-sm-2"> </div>
    <%= f.submit class: "col-sm-3" %>
  </div>
<% end %>