<div class="container">
<h1>Welcome, <%= @dashboard_facade.user.name %></h1>
<% if @dashboard_facade.user.address_line1 == nil %>
  <%= button_to 'Add a valid return address to see your representatives', "/edit", class: "btn btn-secondary", method: :get %><br>
<% else %>
  <p>
    <h5>Your current address:</h5>
    <%= @dashboard_facade.user.address %>
  </p>
  <%= button_to 'Edit your return address', "/edit", class: "btn btn-secondary", method: :get %><br>
    <% cache "representatives-#{@dashboard_facade.user.user_id}", expires_in: 1.month do %>
      <h2>Your Representatives:</h2>
        <% @dashboard_facade.representatives.each_with_index do |rep, index| %>
            <p>
              <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#representative-<%= index %>" aria-expanded="false" aria-controls="#representative-<%= index %>">
                <%= rep.name %> - <%= rep.title %>
              </button>
            </p>
              <div class="collapse" id="representative-<%= index %>">
                <%= button_to "Send Letter", "/letters/new", class: "btn btn-secondary", method: :get, params: rep.attributes %><br/>
              </div>

        <% end %>
    <% end %>
<% end %>
</div>
